/* Navigation bar styles */
#navBody {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

#navBody h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-nav .nav-link {
  color: #6c757d;
  font-size: 1.1rem;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #0d6efd;
}

/* Header styles */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoP i {
  margin-right: 5px;
}

.logo2 a {
  color: #0d6efd;
  margin-right: 10px;
}
.fa-instagram-square {
  color: rgb(218, 69, 69);
}

.fa-twitter {
  color: rgb(67, 120, 234);
}

.fa:hover,
.fa-brands:hover {
  transform: scale(1.2);
}

.logo2 a:hover {
  text-decoration: none;
}

/* Carousel styles */
.carousel-img {
  position: relative;
}

.carousel-item img {
  height: 500px;
}

.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: none;
}

.carousel-control-prev-icon {
  margin-left: -25px;
}

.carousel-control-next-icon {
  margin-right: -25px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
